<!DOCTYPE html>
<html>
  <head>
    <title>Josh Pigford</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b829d8d3c1.js" crossorigin="anonymous"></script>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header class="flex mb-10">
      <div class="flex-none mr-8">
        <%= link_to image_tag("headshot-nft.png", alt: 'Josh Pigford', class: 'w-36 h-36 rounded-full'), root_path %>
      </div>
      <div class="flex-auto mt-3">
        <h1 class="font-black text-3xl mb-3"><%= link_to "Josh Pigford", root_path, class: 'text-black', rel: 'me' %> <span><a href="https://twitter.com/Shpigford" rel="me" class="text-black hover:bg-transparent hover:text-blue-700"><i class="fab fa-twitter text-2xl"></i></a></span></h1>
        <p class="mb-4">Maker. Dabbler. I can't stop starting things. Bearded.</p>
        <p class="font-bold">&rarr;
          <%= link_to 'Articles', articles_path %>, <%= link_to 'Interviews', interviews_path %>, <%= link_to 'Music', music_path %>, <%= link_to 'Now', now_path %>, <%= link_to 'Projects', projects_path %>, <%= link_to 'Podcasts', podcasts_path %>, <%= link_to 'Reading', reading_path %>, <%= link_to 'Gear', gear_path %>, <%= link_to 'Toys', toys_path %>, <%= link_to 'NFTs', nfts_path %>
        </p>
      </div>
    </header>
    
    <main>
      <%= yield %>
    </main>

    <footer class="mt-20 text-gray-400 text-sm">
      Site last updated on <b><%= last_updated.to_datetime.in_time_zone('Central Time (US & Canada)').strftime('%B %e, %Y at %l:%M%P %Z') %></b>. <a href="https://github.com/Shpigford/joshpigford.com/commits/master">Changelog</a>.
    </footer>

    <script src="https://cdn.usefathom.com/3.js" site="PKXZNVYB"></script>
  </body>
</html>
